torch==2.5.1
transformers==4.37.2
accelerate==1.2.0
bitsandbytes==0.44.1
peft==0.11.1
modelscope==1.21.0
qwen-vl-utils==0.0.10
openai==1.54.4
zhipuai==2.1.5.20230904
datasets==3.0.1
numpy==1.26.4
pandas==2.2.3
Pillow==10.4.0
decord==0.6.0
pdf2image==1.17.0
tqdm==4.66.5
python-dotenv==1.0.1
matplotlib==3.9.3